stages: [build, deploy]

variables:
  IMAGE_SHA: "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA"
  IMAGE_LATEST: "$CI_REGISTRY_IMAGE:latest"

build_and_push:
  stage: build
  image: docker:24
  tags: ["docker"]   # или ["ec2"], если так тегнул
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - docker build -t "$IMAGE_SHA" -t "$IMAGE_LATEST" .
    - docker push "$IMAGE_SHA"
    - docker push "$IMAGE_LATEST"

deploy_ec2:
  stage: deploy
  image: alpine:3.20
  tags: ["docker"]
  needs: ["build_and_push"]
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
  before_script:
    - apk add --no-cache openssh-client
    - mkdir -p ~/.ssh && chmod 700 ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_ed25519
    - chmod 600 ~/.ssh/id_ed25519
    - ssh-keyscan -H "$DEPLOY_HOST" >> ~/.ssh/known_hosts
  script:
    - |
      ssh "$DEPLOY_USER@$DEPLOY_HOST" "
        set -e
        cd $DEPLOY_PATH
        docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
        docker compose pull
        docker compose up -d --remove-orphans
        docker image prune -f
      "